<section>
    <h2>Autor del Blog:</h2>
    <p>Nombre: <strong>Andrés Gil Oliva</strong></p>
    <img src="/images/foto.png"/>
    <p>Andrés Gil es un alumno  de la ETSIT que está cursando CORE</p>
</section>