<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <header>
            <h1> Este es el blog de Andrés Gil</h1>
            <nav>
                <a href="/">Inicio</a>
                <a href="/author">Autor</a>
            </nav>
        </header>
        <body>
            <%-body%>
        </body>
        <footer>

        </footer>
    </body>
</html>