<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
    </head>
    <body>
        <header>
            <h1> Welcome to My Blog</h1>
            
        </header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/author">Autor</a>
        </nav>
        <body>
            <%-body%>
        </body>
        <footer>
            <div> Aqui está el footer de la página</div>
        </footer>
    </body>
</html>