<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>

        </header>
        <body>
            <%-body%>
        </body>
        <footer>

        </footer>
    </body>
</html>